obj/lesson01.csproj.nuget.cache
obj/lesson01.csproj.nuget.dgspec.json
obj/lesson01.csproj.nuget.g.props
obj/lesson01.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/lesson01.RazorAssemblyInfo.cs
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.2/lesson01.dll
bin/Debug/netcoreapp2.2/lesson01.pdb
bin/Debug/netcoreapp2.2/lesson01.deps.json
bin/Debug/netcoreapp2.2/lesson01.runtimeconfig.json
bin/Debug/netcoreapp2.2/lesson01.runtimeconfig.dev.json
obj/Debug/netcoreapp2.2/lesson01.dll
obj/Debug/netcoreapp2.2/lesson01.pdb
obj/Debug/netcoreapp2.2/lesson01.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/lesson01.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/lesson01.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/lesson01.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/lesson01.assets.cache
obj/Debug/netcoreapp2.2/lesson01.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/lesson01.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/lesson01.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/project.razor.json
